{% extends 'bookstore/base.html'%}
{% load static %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#"></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#"><button type="button" class="btn btn-outline-primary btn-sm">Купить</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 mb-3">
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href="#">img</a>
                        </div>
                        <div class="product-details">
                            <h4><a href="#">Книга</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda doloremque eaque ex id incidunt labore, laudantium mollitia nulla odit, officia officiis possimus provident quae quaerat quidem quisquam repellat sint.</p>
                            <div class="product-bottom-details d-flex justify-content-between">
                                <div class="product-price">999.99 Р</div>
                                <div class="product-links">
                                    <a href="#">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}